* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-color: black;
  position: 100vh;
  
}

ul{
  list-style: none;
  overflow: hidden;
}
/* 
li{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  flex-wrap: nowrap;
} */

li a{
  color: #00a8c7;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  display: inline-block;


}


nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
}
nav ul {
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.dropdown-content{
  position: fixed;
  background-color: white;
  min-width: 20vw;
  box-shadow: 0rem 0.5rem 1rem 0rem;
  z-index: 1;
  display: none;
}
.dropdown-content a {
  color:#00a8c7;
  padding: 0.8rem 1rem;
  display: block;
  text-align: left;
  
}

.dropdown:hover .dropdown-content{
display: flex;  
flex-direction: column;

}

.dropdown:hover a{
  background-color: white;
  color: #00a8c7;
}

p{
  color: aliceblue;
}

footer{
  width: auto;
  height: auto;
  color: #00a8c7;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

section {
  width: 100vw;
  height: 100vh;
}

.container{
  background-image: url("./img/hacker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h2{
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
}

h1{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}


p{
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  max-width: 40vw;
}

.div1{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.div2{display: flex;
  justify-content: space-around;
  width: 100vw;
}

section img{
  height: 40vh;
  width: 40vw;
}

.phpf{
  height: 40vh;
  width: 40vw;
}